{% for api in index.apis %}

  {% assign postman_website = "none" %}
  {% assign postman_workspace = "none" %}
  {% assign postman_docs = "none" %}
  {% assign postman_run = "none" %}
  {% assign github_url = "none" %}
  {% assign twitter_url = "none" %}

  {% for property in api.properties %}
    {% if property.type == 'x-website' %}{% assign postman_website = property.url %}{% endif %}
    {% if property.type == 'x-postman-workspace' %}{% assign postman_workspace = property.url %}{% endif %}
    {% if property.type == 'x-postman-documentation' %}{% assign postman_docs = property.url %}{% endif %}
    {% if property.type == 'x-run-in-postman' %}{% assign postman_run = property.url %}{% endif %}
    {% if property.type == 'x-github' %}{% assign github_url = property.url %}{% endif %}
    {% if property.type == 'x-twitter' %}{% assign twitter_url = property.url %}{% endif %}
  {% endfor %}

  {% assign tag_match = 0 %}
  {% for tag in api.tags %}
    {% if tag == show_tag %}{% assign tag_match = 1 %}{% endif %}
  {% endfor %}

  {% if show_tag == "All" %}
    {% assign tag_match = 1 %}
  {% endif %}

  {% if tag_match == 1 %}

    <div class="row collection">
      <div class="col-md-3 collection_cta" align="center">
        <a class="landing btn btn__secondary-light" href="{{ postman_workspace }}" target="_blank">
          <img src="{{ api.image }}" width="200"><br>
        </a>
      </div>
      <div class="col-md-4">
         <div class="row collection__meta">
            <div class="col-12 collection__title">{{ api.name }}</div>
            <div class="col-12 collection__description">{{ api.description }}</div>
            <div class="col-12 collection__description"><strong>Elements:</strong> {% for tag in api.tags %}{{ tag }}{% if forloop.last == true %}{% else %}, {% endif %}{% endfor %}</div>
         </div>
      </div>
      <div class="col-md-2 collection_cta" align="center">
        <a class="landing btn btn__secondary-light" href="{{ postman_workspace }}" target="_blank">
          <img src="images/postman-workspaces.png" width="160"><br>
          Visit Workspace
        </a>
      </div>
      <div class="col-md-2 collection_cta" align="center">
        <a class="landing btn btn__secondary-light" href="{{ postman_website }}" target="_blank">
          <img src="images/postman-landing.png" width="110"><br>
          Visit Website
        </a>
      </div>
    </div>

  {% endif %}

{% endfor %}
<br><br>
